/* 일반 헤더 가운데 정렬 */
.ag-center-aligned-header .ag-header-cell-label {
  justify-content: center;
  text-align: center;
}

/* 헤더 그룹 하위 컬럼 가운데 정렬 */
.h-group-center .ag-header-cell-comp-wrapper {
  justify-content: center !important;
}

/* 헤더 그룹 가운데 정렬 */
.ag-header-cell-comp-wrapper {
  justify-content: center !important;
}

/* 필수 입력 * 표시 */
.required-field .ag-header-cell-text::before {
  content: '*';
  color: #ef4444;
  font-weight: bold;
  margin-right: 4px;
}

/* 필수 입력 * 표시  헤더 가운데 정렬*/
.required-field .ag-header-cell-label {
  justify-content: center !important;
}

/* 필터 목록 높이 조정 */
:where(.ag-filter-menu) .ag-set-filter-list {
  height: auto;
}

/* pinnedBottomRowData # scroll */
/* .ag-horizontal-left-spacer {
  overflow: auto;
} */

/* pinnedBottomRowData 오른쪽 끝 scroll */
/* .ag-floating-bottom {
  overflow: auto !important;
} */

/* 유효성 체크 효과 */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-4px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(4px);
  }
}
.error-shake {
  animation: shake 0.5s ease-in-out;
  border-color: #ef4444 !important;
  box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.2);
}

.input-error-highlight {
  --error-highlight: 0;
  border-color: #ef4444 !important;
  box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.2);
  transition: transform 0.08s ease;
}

/* 체크박스 센터 */
.ag-checkbox-center-aligned-cell .ag-checkbox {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
  height: 100% !important;
}

.ag-checkbox-center-aligned-cell .ag-checkbox-input-wrapper {
  margin: 0 auto !important;
}

.ag-cell-wrapper.ag-cell-edit-wrapper.ag-checkbox-edit {
  padding-right: var(--ag-cell-horizontal-padding);
}

/* 숫자 컬럼 에디팅시 센터 정렬 */
.ag-number-right-aligned-cell .ag-input-field-input.ag-number-field-input {
  text-align: end !important;
  padding-right: var(--ag-cell-horizontal-padding);
}

.ag-number-right-aligned-cell
  .ag-input-field-input.ag-number-field-input.ag-number-field-input-stepper {
  padding-right: 0;
}

.ag-number-center-aligned-cell .ag-input-field-input.ag-number-field-input {
  text-align: center !important;
  padding: 0 15px;
  /* padding-right: var(--ag-cell-horizontal-padding); */
}
