.subGrid1 {
  padding: 5px;
  width: 50%;
}

.mypage-gridtitle-bold-text {
  height: 80px;
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  color: #000000;
}

.mypage-grid-banner1 {
  display: flex;
  gap: 10px;
  width: 100%;
  height: auto;
  /* 높이를 자동으로 조정 */
  display: flex;
  /* inline-flex에서 flex로 변경 */
  /* flex-wrap: wrap; */
  /* 요소들이 줄 바꿈을 허용 */
  align-items: center;
  padding: 20px;
  color: black;
  background-color: #f3f4f6;
}
