.layout-footer {
  //position: fixed;
  //bottom: 0;
  left: 0;
  width: 100%;
  height: 62px; 
  background: #006666;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
 // border-color:#e5e7eb;
  //border-top:1px solid #e5e7eb;

  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 -4px 16px rgba(0,0,0,0.12);
}

/* 아이콘 박스 (모든 아이콘 동일) */
.footer-icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

/* SVG는 박스에 맞춰서만 줄어듦 */
.footer-icon svg {
  width: 100%;
  height: 100%;
  display: block; /* iOS 필수 */
}
