
/* 휴그린 건자재시스템 폰트 재정의*/

:root {
  --font-family-base: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans KR", sans-serif;

      --hugreen: #00485D; // 재정의
}


.hugreen {
  font-family: var(--font-family-base) !important;
  -webkit-font-smoothing: antialiased;
}


/* breadcrumb 재정의 : 수정 불가 */
.p-breadcrumb{
    background: transparent !important;
    border: none !important;
    border-radius: 0px !important;
    padding: 0rem !important;
    align-items: center;
    & ol{
    margin-bottom:1px !important;
    }
}

.p-breadcrumb .p-breadcrumb-list li .p-menuitem-link .p-menuitem-text{
  color : #aaa !important;
  font-size: 12px !important;
  height: 21.8px !important;
  line-height: 21.8px !important;
}
.p-breadcrumb_now{
  color : #7d7d7d !important;
  font-size: 12px !important;
  font-weight:  600 !important;
  height: 20.8px !important;
  line-height: 20.8px !important;
}

.p-icon{
  width:10px !important;
  height:10px !important;
  color : #aaa !important;
  align-items: center;
  justify-content: center;
}

.pi-home:before {
  color : #aaa !important;
}

/* 업무영역 공통 타이틀*/
.title-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem !important;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem; /* Tailwind gap-2 */
  margin-bottom: 1rem;
}

/* md (min-width: 768px) 이상일 때 적용 */
@media (min-width: 768px) {
  .title-container {
    flex-direction: row;
    justify-content: space-between;
  }
}


/* topbar 햄버거 아이콘 가운데 정렬 재정의 : 수정 불가 */
.p-link {text-align: center !important;}

/* 공통 : 휴그린 그리드 영역에 대한 재정의*/
.hugreen_grid{
  display: flex !important;
}

.hugreen_main{
  display: flex !important;
  background-color: #F5F6F9;
}

.hugreen_m_search{
  display: flex !important;
  padding: 0 1rem !important;
  background-color: #F5F6F9;
}

.hugreen_tabarea{
  display: flex !important;
  //padding: 0 1rem !important;
  background-color: #F5F6F9;
}


