* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 14px !important;
}

body {
    font-family: var(--font-family);
    //font-family: 'Pretendard, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif';
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a, button {
    text-decoration: none !important;
    //color: var(--primary-color);
}


//메인



/* 카드 그리드 */
.dashboard-card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 0 1rem;
}

.dashboard-card2-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 0 1rem;
}

/* 카드 */
.dashboard-card {
  height: 120px;
  cursor: pointer;
}

.dashboard-card .p-card-body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border:1px solid #ddd;
  border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* 카드 텍스트 */
.dashboard-card-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

