* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 14px !important;
}

body {
    font-family: var(--font-family);
    //font-family: 'Pretendard, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif';
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a, button {
    text-decoration: none !important;
    //color: var(--primary-color);
}

//스와이프
.swiper {
  position: relative;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  transition-property: transform;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
}

//메인

.dashboard-fav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 0.75rem;
}

/* 카드 그리드 */
.dashboard-card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 0 1rem;
}


/* 카드 */
.dashboard-card {
  height: 140px;
  cursor: pointer;
  transition: all 0.2s ease;
  border:1px solid #ddd;
}

.dashboard-card .p-card-body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.09) !important;
}

/* 카드 내용 */
.dashboard-card-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  text-align: center;
  font-size: 16px;
}

/* 아이콘 (얇아 보이게) */
.dashboard-card-icon {
  font-size: 20px;
  color: #9ca3af; /* gray-400 */
  opacity: 0.85;
}

/* 활성 카드 */
.dashboard-card--active {
  border: 2px solid var(--primary-color);
  background-color: #f5f7ff;
}

.dashboard-card--active .dashboard-card-icon {
  color: var(--primary-color);
  opacity: 1;
}
