@media (min-width: 992px) {
    .layout-wrapper {
        &.layout-overlay {
            .layout-main-container {
                margin-left: 0;
                padding-left: 1rem;
                padding-right: 1rem;
            }

            .layout-sidebar {
               // transform: translateX(-100%);
                right: 0;
                top: 0;
                height: 100vh;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &.layout-overlay-sidebar-active {
                .layout-sidebar {
                    transform: translateX(0);
                }
            }
        }

        &.layout-static {
            .layout-main-container {
                margin-left: 18.5714rem;
            }

            &.layout-static-sidebar-inactive {
                .layout-sidebar {
                   // transform: translateX(-100%);
                    right: 0;
                }

                .layout-main-container {
                    margin-left: 0;
                    padding-left: 5.5rem;
                }
            }
        }

        .layout-mask {
            display: none;
        }
    }
}

/* 테이블 이하 사이즈 모드 */
@media (max-width: 991px) {
    .layout-wrapper {
        .layout-main-container {
            margin-right: 0;
        }

        .layout-sidebar {
           // transform: translateX(-100%);
            z-index: 99999;
            right: 0;
            top: 0;
            height: 100vh;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .layout-mask {
            z-index: 998;
            //background-color: var(--mask-bg);
            background-color:  #333;
            opacity:  .5;
            &.layout-mask-enter-from,
            &.layout-mask-leave-to {
                background-color: transparent;
            }
        }

        &.layout-mobile-sidebar-active {
            .layout-sidebar {
                transform: translateX(0);
            }

            .layout-mask {
                display: block;
            }
        }
    }

    .body-overflow-hidden {
        overflow: hidden;
    }

   
}
