/* 그리드 상세보기 정의 */
$color-text: #8A929F;
$color-tdtext: #919AA8;
$color-border: #E2E8F0;
$color-th-bg: #F8FAFC;
$color-td-bg: #fff;
$font-size-base: 1rem;

// 결과값 영역
.hugreen_searchwrap_result {
  width: 100%;
  font-size: $font-size-base;
  border: 1px solid $color-border;
  border-radius: 8px !important;
  text-align: center !important;
  padding: 2rem 1rem !important;
  align-items: center !important;
  justify-content: center !important;
}

/* 그리드 상세보기 정의 */
// view style_01
.dtv-info-grid {
  width: 100%;
  font-size: $font-size-base;
  border-top: 1px solid $color-border;
  margin-bottom: 1rem;

  .row {
    display: grid;
    grid-template-columns: 15% 35% 15% 35%;
    border-bottom: 1px solid $color-border;

    > div {
      padding: 0.35rem 1rem;
      display: flex;
      align-items: center;
      border-right: 1px solid $color-border;

      &:last-child {
        border-right: none;
      }
    }

    .th {
      background: $color-th-bg;
      font-weight: 600;
      color: $color-text;

       &.required::after {
        content: "*";
        color: red;
        margin-left: 10px;
        font-weight: bold;
        align-items: center;
        line-height: 2.2857rem !important;
      }
    }

    .td {
      background: $color-td-bg;
      font-weight: 300;
      color: $color-tdtext;
      line-height: 2.2857rem !important;
      .fulltext {
        white-space: normal !important;
        overflow: visible !important;
        text-overflow: initial !important;
        word-break: break-word !important;
      }
      .in{
        //width: 80px !important;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        padding: 0 1.5rem !important;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 2.2857rem !important;   
      }
    }
    
     .merge-2 {
      grid-column: span 2; 
    }
     .merge-3 {
      grid-column: span 3; 
    }
      .merge-5 {
      grid-column: span 5; 
    }
  }

  /* ---------------- 모바일: 한 쌍씩 줄바꿈 ---------------- */
  @media (max-width: 768px) {
    .row {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;      
      border-bottom: 0px solid $color-border;

      > .th,
      > .td {
        
        flex: 1 1 25%; 
        display: flex;
        border-right: none;
        padding: 0.75rem 1rem;        
        border-bottom: 1px solid $color-border;
        word-break: break-word;

      }
      
      > .td,
      > .td.merge-3,
      > .td.merge-5 {
        flex: 1 1 68%;
      }    

      > .th {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;        
      }

     

      // 한 쌍씩 묶기
      > .th:nth-child(odd) {
        background: $color-th-bg;
        font-weight: 600;
        justify-content: flex-start;
      }

      > .td:nth-child(even) {
        background: $color-td-bg;
        justify-content: flex-start;
      }

      > .td .span {
        min-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    
  }
}




// view style_01
.grid-searchwrap {
  width: 100%;
  font-size: $font-size-base;
  border-top: 0px solid $color-border;
  //background-color: #F5F6F9 !important;

  .row {
    display: grid;
    grid-template-columns: 10% 40% 10% 40%;
    border-bottom: 0px solid $color-border;

    > div {
      padding: 0.35rem 0rem;
      display: flex;
      align-items: center;
      border-right: 0px solid $color-border;

      &:last-child {
        border-right: none;
      }
    }

    .th {
      background: transparent;
      //display: block;
      //line-height: 2.2857rem !important;
      //max-width: 200px !important; 
      font-weight: 600;
      color: $color-text;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

       &.required::after {
        content: "*";
        color: red;
        margin-left: 10px;
        font-weight: bold;
        align-items: center;
        line-height: 2.2857rem !important;
      }
    }

    .td {
      background: transparent;
      font-weight: 300;
      color: $color-tdtext;
      line-height: 2.2857rem !important;
      //width: 100% !important;
      box-sizing: border-box;
    }
     .merge-2 {
      grid-column: span 2; 
    }
     .merge-3 {
      grid-column: span 3; 
    }
      .merge-5 {
      grid-column: span 5; 
    }
  }

  /* ---------------- 모바일: 한 쌍씩 줄바꿈 ---------------- */
  @media (max-width: 768px) {
    .row {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;      
      border-bottom: 0px solid $color-border;

      > .th,
      > .td {
        
        flex: 1 1 25%; 
        display: flex;
        border-right: none;
       // padding: 0.75rem 1rem;        
        border-bottom: 0px solid $color-border;
        word-break: break-word;

      }
      
      > .td,
      > .td.merge-3,
      > .td.merge-5 {
        flex: 1 1 68%;
      }    

      > .th {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;    
        padding-left: .5rem !important;    
      }

     

      // 한 쌍씩 묶기
      > .th:nth-child(odd) {
        background: transparent;
        font-weight: 600;
        justify-content: flex-start;
      }

      > .td:nth-child(even) {
        background: transparent;
        justify-content: flex-start;
      }

      > .td .span {
        min-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    
  }
}




// ② 4컬럼 구조 (th,td,th,td)
.dtv-info-grid--2col {
  .row {
    grid-template-columns: 15% 85%;
  }
}
.dtv-info-grid--2col-etc2 {
  .row {
    grid-template-columns: 50% 50%;
  }
}

.dtv-info-grid--2col-etc {
  .row {
    grid-template-columns: 20% 80%;
  }
}
.dtv-info-grid--2col-etc3 {
  .row {
    grid-template-columns: 30% 70%;
  }
}

// ② 4컬럼 구조 (th,td,th,td)
.dtv-info-grid--4col{
  .row {
    grid-template-columns: 8% 12% 8% 12% 8% 12% 8% 12% ;
  }
}

.dtv-info-grid--4col-view{
  .row {
    grid-template-columns: 10% 40% 10% 40%;
  }
}

.dtv-info-grid--4col-etc{
  .row {
    grid-template-columns: 20% 30% 20% 30%;
  }
}

.dtv-info-grid--4col-etc2{
  .row {
    grid-template-columns: 8% 52% 8% 32%;
  }
}

// ② 4컬럼 구조 (th,td,th,td)
.dtv-info-grid--5col{
  .row {
    grid-template-columns: 8% 12% 8% 12% 8% 12% 8% 12% 8% 12% ;
  }
}

// ② 4컬럼 구조 (th,td,th,td)
.dtv-info-grid--15col{
  .row {
    grid-template-columns: 15% 35% 15% 35% 15% 35% 15% 35% 15% 35% 15% 35% 15% 35% 15% 35% 15% 35% 15% 35% 15% 35% 15% 35% 15% 35% 15% 35% 15% 35%;
  }
}

// ② 6컬럼 구조 (th,td,th,td,th,td)
.dtv-info-grid--6col {
  .row {
    grid-template-columns: 12% 21% 12% 21% 12% 22%;
  }
}
// ② 6컬럼 구조 (th,td,th,td,th,td)
.dtv-info-grid--8col {
  .row {
    grid-template-columns: 10% 15% 10% 15% 10% 15% 10% 15%;
  }
}



// ② 4컬럼 구조 (th,td,th,td)
.grid-searchwrap--2col {
  .row {
    grid-template-columns: 10% 90%;
  }
}

// ② 4컬럼 구조 (th,td,td)
.grid-searchwrap--3col {
  .row {
    grid-template-columns: 10% 80% 10%;
  }
}
// ② 4컬럼 구조 (th,td,th,td)
.grid-searchwrap--4col {
  .row {
    grid-template-columns: 10% 20% 10% 20%;
  }
}

// ② 6컬럼 구조 (th,td,th,td,th,td)
.grid-searchwrap--6col {
  .row {
    grid-template-columns: 8% 25% 8% 25% 8% 25%;
  }
}

// ② 6컬럼 구조 (th,td,th,td,th,td)
.grid-searchwrap--8col {
  .row {
    grid-template-columns: 8% 17% 8% 17% 8% 17% 8% 17%;
  }
}

.scan-wrap {
  width: 100%;
  border:1px solid #ddd;
  border-radius: 6px;
  padding: .75rem;
}

// view style_02
.grid-view {
  width: 100%;
  font-size: $font-size-base;

  .sub-tit {
    font-weight: 600;
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 0rem !important;
  }

  .sub-scan{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin:0 auto;
    background-image: url('/pda/images/icon-qr.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px 28px; 
    margin-bottom: 2rem;
    
    background-color: #EEEEEE;
    color: #333;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    box-shadow: 0 6px 16px rgba(0,0,0,0.082);
    transition: background-color 0.2s;
    z-index: 50;
  }

  .row {
    display: grid;
    grid-template-columns: 30% 70%;

    > div {
      padding: 0.35rem 1rem;
      display: flex;
      align-items: center;

      &:last-child {
        border-right: none;
      }
    }

    .th {
      font-weight: 600;
      color: $color-text;
      padding-left: 1rem;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0.5rem;
        top: 50%;
        width: 3px;
        height: 3px;
        background-color: $color-text;
        border-radius: 50%;
        transform: translateY(-50%);
        }
       &--required::after {
        content: '*';
        margin-left: 4px;
        color: #e53935;
        font-size: 14px;
        font-weight: 700;
        vertical-align: middle;
      }     
    }

    .td {
      background: $color-td-bg;
      font-weight: 300;
      color: $color-tdtext;      
      line-height: 2.2857rem !important;
    }
    
     .merge-2 {
      grid-column: span 2; 
    }
    
  }
}













