.layout-topbar_wrap{
    position: fixed;
    z-index: 997;
    left: 0;
    top: 0;
    width: 100%;
    transition: left $transitionDuration;
    display: flex;
    align-items: center;
}

.layout-topbar {
    position: fixed;
    height: 4rem;
    z-index: 997;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 1rem;
    background-color: var(--hugreen);
    transition: left $transitionDuration;
    display: flex;
    align-items: center;
    //box-shadow: 0px 3px 5px rgba(0,0,0,.02), 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08);

    .layout-topbar-logo {
        display: flex;
        align-items: center;
        color: var(--surface-100);
        font-size: 1.25rem;
        //font-weight: 500;
        //width: 300px;
        //border-radius: 12px;

        img {
            height: 12px;
            margin-left: .5rem;
            margin-right: .5rem;
            margin-top : -6px;
        }
         span:nth-of-type(2) {
            font-size: 1.214rem;
        }

        &:focus {
            @include focused();
        }
    }

    .layout-topbar-button {
        display: inline-flex;
        justify-content: center !important;
        align-items: center;
        position: relative;
        color: var(--surface-100);
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        transition: background-color $transitionDuration;

        &:hover {
            color: var(--text-color);
            background-color: var(--surface-hover);
        }

        &:focus {
            @include focused();
        }

        i {
            font-size: 1rem;
        }

        span {
            font-size: 1rem;
        }

    }

    .layout-menu-button {
        margin-right: .5rem;
    }

    .layout-topbar-menu-button {
        display: none;

        i {
            font-size: 1.25rem;
        }
    }

    .layout-topbar-menu {
        margin: 0 0 0 auto;
        padding: 0;
        list-style: none;
        display: flex;

        .layout-topbar-button {
            margin-left: .5rem;
        }
    }

    .top_menu_link{
        align-items: center;
        margin:0 .5rem;
        color: var(--surface-100);
        display: flex;
        align-items: center;
        font-size: 1.1429rem;
        cursor: pointer;
        white-space: nowrap;
        //font-weight: 500;
        //width: 300px;
        //border-radius: 12px;
        /* 마우스 오버 시 밑줄 */
        &:hover {
            text-decoration: underline;
        }
        &.active {
            color: #E9B67B;            
            &::after {
            width: 100%;             
            }
        }
    }
}


/* AccountOverlay */
.account-overlay {
  position: relative;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;

  &__trigger {
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
  }

  &__avatar {
    background: #e53935;
  }

  &__inner {
    max-width: 240px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-bottom:1rem;
  }

  &__item-main {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__circle {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  color: #fff;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &--admin {
    background-color: #d32f2f; // 관리자
  }

  &--agency {
    background-color: #1976d2; // 대리점
  }

  &--office {
    background-color: #00485D; // 본사
  }

  &--partner {
    background-color: #71bfaeff; // 협력사
  }
}

  &__name {
    font-size: 1.5rem;
    font-weight: 600;
  }
  &__badge {
    font-size: 12px;
    padding: 2px 0px;
    color: #8a8a8a;
  }
  &__item-btn,
  &__logout {
    width: 100%;
    border: none;
    background: transparent;
    text-align: left;
    padding: 8px;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background-color: #f3f4f6;
    }
  }

  &__logout {
    margin-top: 4px;
    border-top: 1px solid #e5e7eb;
    padding-top: 10px;
    color: #dc2626;
    text-align: center !important;

    &:hover {
      background-color: #fef2f2;
    }
  }
}



/* 메가메뉴*/
.menu-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.menu-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease, transform 300ms ease;
}
.menu-exit {
  opacity: 1;
  transform: translateY(0);
}
.menu-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms ease, transform 300ms ease;
}

/* 메가메뉴 재정의*/
.megamenu-container {
  position: absolute;
  left: 0;
  top: 56px; // 기존 inline style → 여기로 이동
  width: 100%;
  z-index: 50; // Tailwind z-50 동일
  background-color: #00485d;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  overflow: auto; // 내부 스크롤 가능
}

.megamenu-wrapper {
  display: flex;
  flex-wrap: wrap; // ✅ 줄바꿈 허용
  justify-content: center; // ✅ 가로 중앙 정렬
  align-items: flex-start; // 세로 기준 맞춤
  gap: 3rem; // 컬럼 간격
  padding: 1.5rem;
  margin: 0 auto; // ✅ 컨테이너 자체 중앙
  max-width: 1240px;
  max-height: 400px;
  color: #fff;

  .megamenu-column {
    display: flex;
    flex-direction: column;
    min-width: 140px;
    padding: 0.5rem 1rem;

    .megamenu-title {
      font-weight: 600;
      font-size: 1.6rem; // text-lg
      color: #fff;
      margin-bottom: .5rem;
    }

    .megamenu-items {
      display: flex;
      flex-direction: column;
      

      .megamenu-link {
        display: flex;
        align-items: center;
        font-weight: 200;
        gap: 0.5rem;
        padding: 0.35rem 0;
        color: #fff;
        text-decoration: none;
        transition: background-color 0.2s ease;

        &:hover {
            color: #E9B67B;
        }
      }
    }
  }
}


@media (max-width: 991px) {
    .layout-topbar {
        justify-content: space-between;

        .layout-topbar-logo {
            width: auto;
            order: 2;
            /* 말줄임표 처리 */
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .layout-menu-button {
            margin-left: 0;
            order: 1;
        }

        .layout-topbar-menu-button {
            display: inline-flex;
            margin-left: 0;
            order: 3;
        }

        .layout-topbar-menu {
            margin-left: 0;
            position: absolute;
            flex-direction: column;
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px rgba(0,0,0,.12);
            border: 1px solid #D5D5D5 !important;
            border-radius: 6px;
            padding: .5rem;
            right: 1rem;
            top: 4.5rem;
            //min-width: 15rem;
            display: none;
            -webkit-animation: scalein 0.15s linear;
            animation: scalein 0.15s linear;

            &.layout-topbar-menu-mobile-active {
                display: block
            }

            .layout-topbar-button {
                margin-left: .5rem;
                display: flex;
                width: 100%;
                color: #888 !important;
                height: auto;
                justify-content: flex-start !important;
                border-radius: 12px;
                padding: .5rem;

                i {
                    font-size: 1rem;
                    margin-right: .5rem;
                }

                span {
                    font-weight: medium;
                    display: block;
                }
            }
        }
    }
    .layout-mdi {
        display: none;
    }
     .p-megamenu {
        display: none;
    }
    .megamenu-container{
        display: none;
    }
}
