.card {
    background-color: transparent !important;
    padding: 0rem;
    border:0px solid transparent !important;
    
    //margin-bottom: 1rem;
    //background-color: var(--surface-card) ;
    //border-radius: $borderRadius;
    // box-shadow: 0px 3px 5px rgba(0,0,0,.02), 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08) !important;
    
    
    /*
    
    background-color: transparent !important ;
    border-color :transparent !important;

    */


    &.card-w-title {
        padding-bottom: 2rem !important;
        color:blue !important;
    }
}
