/* General */
$fontSize:10px;
$borderRadius:12px;
$transitionDuration:.2s;


/*  휴그린 색상 코드 정의 */
$color-primary: #00485D;
$color-primary-dark: #00485D;
$color-primary-button: #267C95;
$color-primary-beforemenu: #919AA8



