@charset "UTF-8";
/* General */
/*  휴그린 색상 코드 정의 */
.preloader {
  position: fixed;
  z-index: 999999;
  background: #edf1f5;
  width: 100%;
  height: 100%;
}

.preloader-content {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.preloader-content:before, .preloader-content:after {
  content: "";
  border: 1em solid var(--primary-color);
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.preloader-content:before {
  animation-delay: 0.5s;
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--surface-ground);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, button {
  text-decoration: none !important;
}

.layout-topbar_wrap {
  position: fixed;
  z-index: 997;
  left: 0;
  top: 0;
  width: 100%;
  transition: left 0.2s;
  display: flex;
  align-items: center;
}

.layout-topbar {
  position: fixed;
  height: 4rem;
  z-index: 997;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 1rem;
  background-color: var(--hugreen);
  transition: left 0.2s;
  display: flex;
  align-items: center;
}
.layout-topbar .layout-topbar-logo {
  display: flex;
  align-items: center;
  color: var(--surface-100);
  font-size: 1.25rem;
}
.layout-topbar .layout-topbar-logo img {
  height: 12px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: -8px;
}
.layout-topbar .layout-topbar-logo:focus {
  outline: 0 none;
  outline-offset: 0;
  transition: box-shadow 0.2s;
  box-shadow: var(--focus-ring);
}
.layout-topbar .layout-topbar-button {
  display: inline-flex;
  justify-content: center !important;
  align-items: center;
  position: relative;
  color: var(--surface-100);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: background-color 0.2s;
}
.layout-topbar .layout-topbar-button:hover {
  color: var(--text-color);
  background-color: var(--surface-hover);
}
.layout-topbar .layout-topbar-button:focus {
  outline: 0 none;
  outline-offset: 0;
  transition: box-shadow 0.2s;
  box-shadow: var(--focus-ring);
}
.layout-topbar .layout-topbar-button i {
  font-size: 1rem;
}
.layout-topbar .layout-topbar-button span {
  font-size: 1rem;
  display: none;
}
.layout-topbar .layout-menu-button {
  margin-right: 0.5rem;
}
.layout-topbar .layout-topbar-menu-button {
  display: none;
}
.layout-topbar .layout-topbar-menu-button i {
  font-size: 1.25rem;
}
.layout-topbar .layout-topbar-menu {
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
}
.layout-topbar .layout-topbar-menu .layout-topbar-button {
  margin-left: 0.5rem;
}
.layout-topbar .top_menu_link {
  align-items: center;
  margin: 0 0.5rem;
  color: var(--surface-100);
  display: flex;
  align-items: center;
  font-size: 1.1429rem;
  cursor: pointer;
  white-space: nowrap;
  /* 마우스 오버 시 밑줄 */
}
.layout-topbar .top_menu_link:hover {
  text-decoration: underline;
}
.layout-topbar .top_menu_link.active {
  color: #E9B67B;
}
.layout-topbar .top_menu_link.active::after {
  width: 100%;
}

.mdi-size {
  width: 1695px;
}

.layout-mdi {
  position: fixed;
  height: 3.286rem;
  left: 0;
  top: 4rem;
  width: 100%;
  padding: 0 1rem;
  background-color: var(--surface-a);
  transition: left 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E8EAF5;
  /* 기본 hover 효과 */
  /* 20개 이상일 때 */
  /* 20개 이상 + hover 시 */
}
.layout-mdi .layout-topbarmdi-button.right {
  transition: color 0.2s ease;
  color: inherit;
}
.layout-mdi .layout-topbarmdi-button.right:hover {
  color: #555;
}
.layout-mdi .layout-topbarmdi-button.right.active-limit {
  color: #333;
}
.layout-mdi .layout-topbarmdi-button.right.active-limit:hover {
  color: #555;
}
.layout-mdi .layout-topbarmdi-button {
  margin-left: 0;
  display: flex;
  color: #A8A8A8;
  border-radius: 12px;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}
.layout-mdi .layout-topbarmdi-button i {
  font-size: 1rem;
  margin-right: 0rem;
}
.layout-mdi .layout-topbarmdi-button span {
  font-weight: medium;
  display: none;
}
.layout-mdi .layout-topbarmdi-button:hover {
  color: #333;
}
.layout-mdi .mdi-container {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* 개별 페이지 탭 */
  /* 활성 탭 (선택된 상태) */
  /* 비활성 탭 */
  /* 비활성 탭 hover 시 글자색 green으로 */
}
.layout-mdi .mdi-container::-webkit-scrollbar {
  display: none;
}
.layout-mdi .mdi-container .mdi-page {
  display: flex;
  align-items: center;
  padding: 0.5rem 0rem;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.2s ease;
}
.layout-mdi .mdi-container .mdi-page span {
  margin-right: 3rem;
  font-size: 0.875rem;
}
.layout-mdi .mdi-container .mdi-page.active {
  color: #364FC7;
  font-weight: 600;
}
.layout-mdi .mdi-container .mdi-page.inactive {
  background-color: #f9f9f9; /* gray-300 */
  color: #9E9E9E; /* gray-700 */
}
.layout-mdi .mdi-container .mdi-page.inactive:hover {
  color: #364FC7; /* green-500 */
}
.layout-mdi .mdi-container .mdi-close {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}
.layout-mdi .mdi-container .mdi-close i {
  font-size: 0.875rem; /* 14px 정도 */
  transition: color 0.2s;
}
.layout-mdi .mdi-container .mdi-close:hover i {
  color: #f87171;
}

/* 메가메뉴*/
.menu-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.menu-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease, transform 300ms ease;
}

.menu-exit {
  opacity: 1;
  transform: translateY(0);
}

.menu-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms ease, transform 300ms ease;
}

/* 메가메뉴 재정의*/
.megamenu-container {
  position: absolute;
  left: 0;
  top: 56px;
  width: 100%;
  z-index: 50;
  background-color: #00485d;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  overflow: auto;
}

.megamenu-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  padding: 1.5rem;
  margin: 0 auto;
  max-width: 1240px;
  max-height: 400px;
  color: #fff;
}
.megamenu-wrapper .megamenu-column {
  display: flex;
  flex-direction: column;
  min-width: 140px;
  padding: 0.5rem 1rem;
}
.megamenu-wrapper .megamenu-column .megamenu-title {
  font-weight: 600;
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 0.5rem;
}
.megamenu-wrapper .megamenu-column .megamenu-items {
  display: flex;
  flex-direction: column;
}
.megamenu-wrapper .megamenu-column .megamenu-items .megamenu-link {
  display: flex;
  align-items: center;
  font-weight: 200;
  gap: 0.5rem;
  padding: 0.35rem 0;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.2s ease;
}
.megamenu-wrapper .megamenu-column .megamenu-items .megamenu-link:hover {
  color: #E9B67B;
}

@media (max-width: 991px) {
  .layout-topbar {
    justify-content: space-between;
  }
  .layout-topbar .layout-topbar-logo {
    width: auto;
    order: 2;
    /* 말줄임표 처리 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .layout-topbar .layout-menu-button {
    margin-left: 0;
    order: 1;
  }
  .layout-topbar .layout-topbar-menu-button {
    display: inline-flex;
    margin-left: 0;
    order: 3;
  }
  .layout-topbar .layout-topbar-menu {
    margin-left: 0;
    position: absolute;
    flex-direction: column;
    background-color: var(--surface-overlay);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 1rem;
    right: 2rem;
    top: 5rem;
    min-width: 15rem;
    display: none;
    animation: scalein 0.15s linear;
  }
  .layout-topbar .layout-topbar-menu.layout-topbar-menu-mobile-active {
    display: block;
  }
  .layout-topbar .layout-topbar-menu .layout-topbar-button {
    margin-left: 0;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    border-radius: 12px;
    padding: 1rem;
  }
  .layout-topbar .layout-topbar-menu .layout-topbar-button i {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  .layout-topbar .layout-topbar-menu .layout-topbar-button span {
    font-weight: medium;
    display: block;
  }
  .layout-mdi {
    display: none;
  }
  .p-megamenu {
    display: none;
  }
  .megamenu-container {
    display: none;
  }
}
.layout-sidebar {
  position: fixed;
  width: 18.5714rem;
  height: calc(100vh - 7.286rem);
  overflow-y: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  top: 7.286rem;
  left: 0rem;
  border-right: 1px solid #E8EAF5;
  transition: transform 0.2s, left 0.2s;
  padding: 1rem;
}

.layout-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.layout-menu li.layout-menuitem-category:first-child {
  margin-top: 0;
}
.layout-menu li .layout-menuitem-root-text {
  text-transform: uppercase;
  color: var(--surface-900);
  font-weight: 600;
}
.layout-menu li a {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--text-color);
  transition: color 0.2s;
  padding: 0.5rem 0.75rem;
  transition: background-color 0.15s;
  /* 🔹 링크 앞에 작은 점 추가 */
}
.layout-menu li a span {
  margin-left: 0.5rem;
}
.layout-menu li a .menuitem-toggle-icon {
  margin-left: auto;
}
.layout-menu li a::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #666;
  border-radius: 50%;
}
.layout-menu li a:focus {
  font-weight: 600;
  color: #333;
}
.layout-menu li a:hover {
  background-color: var(--surface-hover);
}
.layout-menu li a.router-link-exact-active {
  font-weight: 700;
  color: var(--primary-color);
}
.layout-menu li a .p-badge {
  margin-left: auto;
}
.layout-menu li.active-menuitem > a .menuitem-toggle-icon:before {
  content: "\e933";
}
.layout-menu li ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.layout-menu li ul.layout-submenu-wrapper-enter {
  max-height: 0;
}
.layout-menu li ul.layout-submenu-wrapper-enter-active {
  overflow: hidden;
  max-height: 1000px;
  transition: max-height 1s ease-in-out;
}
.layout-menu li ul.layout-submenu-wrapper-enter-done {
  transform: none;
}
.layout-menu li ul.layout-submenu-wrapper-exit {
  max-height: 1000px;
}
.layout-menu li ul.layout-submenu-wrapper-exit-active {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.layout-menu li ul ul {
  padding-left: 1rem;
}

/* 패널메뉴 스타일 추가 */
.panel-style .layout-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}
.panel-style .layout-menu::before {
  content: "";
  position: absolute;
  left: 0.75rem;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #eee;
}
.panel-style .layout-menu li:first-child::after {
  content: "";
  position: absolute;
  left: 0.75rem;
  top: 0;
  height: 40%;
  width: 1px;
  background-color: white;
}
.panel-style .layout-menu li {
  position: relative;
  border-bottom: 0px solid var(--surface-border);
  padding-left: 1.5rem;
  /* 각 메뉴의 점 */
}
.panel-style .layout-menu li::before {
  content: "";
  position: absolute;
  left: 0.6rem;
  top: 1.2rem;
  width: 6px;
  height: 6px;
  background-color: #919AA8;
  border-radius: 50%;
  transition: background-color 0.2s;
}
.panel-style .layout-menu li.active::before {
  background-color: red;
}
.panel-style .layout-menu li > .layout-menuitem-root-text {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem;
  font-weight: 500;
  font-size: 1.1429rem;
  color: #919AA8;
  transition: background 0.2s;
}
.panel-style .layout-menu li > .layout-menuitem-root-text:hover {
  background: var(--surface-hover);
}
.panel-style .layout-menu li ul {
  overflow: hidden;
  transition: all 0.3s ease;
}
.panel-style .layout-menu li ul li {
  position: relative;
  margin-left: -1.5rem;
}
.panel-style .layout-menu li ul li::before {
  display: none;
}
.panel-style .layout-menu li:last-child::after {
  content: "";
  position: absolute;
  left: 0.75rem;
  bottom: 0;
  height: 40%;
  width: 1px;
  background-color: #fff;
}
.panel-style .layout-submenu-wrapper-enter {
  max-height: 0;
  opacity: 0;
}
.panel-style .layout-submenu-wrapper-enter-active {
  max-height: 500px;
  opacity: 1;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}
.panel-style .layout-submenu-wrapper-exit {
  max-height: 500px;
  opacity: 1;
}
.panel-style .layout-submenu-wrapper-exit-active {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

/* 아이콘 회전 애니메이션 */
.rotate-icon {
  transition: transform 0.3s ease;
  font-size: 10px;
}

.rotate-icon.rotated {
  transform: rotate(180deg);
}

/* 서브메뉴 슬라이드 효과 */
.layout-submenu-wrapper-enter {
  max-height: 0;
  opacity: 0;
}

.layout-submenu-wrapper-enter-active {
  max-height: 500px;
  opacity: 1;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.layout-submenu-wrapper-exit {
  max-height: 500px;
  opacity: 1;
}

.layout-submenu-wrapper-exit-active {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

/* 테이블 이하 사이즈 모드 */
@media (max-width: 991px) {
  .layout-sidebar {
    background-color: var(--surface-overlay);
  }
}
.layout-config {
  position: fixed;
  top: 0;
  padding: 0;
  right: 0;
  width: 20rem;
  z-index: 999;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.2s;
  backface-visibility: hidden;
  color: var(--text-color);
  background-color: var(--surface-overlay);
  display: none; /* 잠시 삭제 */
}
.layout-config.layout-config-active {
  transform: translateX(0);
}
.layout-config .layout-config-button {
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  line-height: 32px;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  text-align: center;
  top: 20px;
  left: -32px;
  z-index: -1;
  overflow: hidden;
  cursor: pointer;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  transition: background-color 0.2s;
}
.layout-config .layout-config-button i {
  font-size: 16px;
  line-height: inherit;
  cursor: pointer;
  transform: rotate(0deg);
  transition: color 0.2s, transform 1s;
}
.layout-config .layout-config-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1;
}
.layout-config .layout-config-content {
  position: relative;
  overflow: auto;
  height: 100vh;
  padding: 2rem;
}
.layout-config .config-scale {
  display: flex;
  align-items: center;
  margin: 1rem 0 2rem 0;
}
.layout-config .config-scale .p-button {
  margin-right: 0.5rem;
}
.layout-config .config-scale i {
  margin-right: 0.5rem;
  font-size: 0.75rem;
  color: var(--text-color-secondary);
}
.layout-config .config-scale i.scale-active {
  font-size: 1.25rem;
  color: var(--primary-color);
}
.layout-config .free-themes img {
  width: 2rem;
  border-radius: 4px;
  transition: transform 0.2s;
  display: block;
}
.layout-config .free-themes img:hover {
  transform: scale(1.1);
}
.layout-config .free-themes span {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.layout-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  padding: 9.286rem 2rem 2rem 2rem;
  transition: margin-left 0.2s;
}

.layout-main {
  flex: 1 1 auto;
}

.layout-BreadCrumb-button {
  margin-left: 0;
  display: flex;
  color: #aeaeae;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  overflow: hidden;
  line-height: 0;
  display: inline-block; /* 이건 괜찮아요 */
}
.layout-BreadCrumb-button i {
  font-size: 1rem;
  margin-left: 1rem;
}
.layout-BreadCrumb-button span {
  font-weight: medium;
  display: none;
}
.layout-BreadCrumb-button:hover {
  color: #333;
}

/* 공통 : 즐겨찾기 아이콘 */
.layout-Favorite-button {
  background: transparent !important;
  border: none !important;
  color: #aeaeae !important;
  transition: transform 0.2s ease, color 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 0rem;
}
.layout-Favorite-button:hover {
  color: #364FC7 !important;
  transform: scale(1.1);
}
.layout-Favorite-button:focus {
  box-shadow: none !important;
  outline: none;
}
.layout-Favorite-button .pi {
  font-size: 1.25rem;
}

/* 검색영역에 대한 정의*/
.hugreen_searchwrap {
  display: flex;
  width: 100%;
  border: 1px solid #E2E8F0;
  border-radius: 4px;
  background-color: #F8FAFC;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 1rem;
  flex-wrap: wrap;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  color: #555;
}
.hugreen_searchwrap .flex {
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: left;
  flex-wrap: wrap;
}
.hugreen_searchwrap .flex .h_formgroup-inline {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.hugreen_searchwrap .flex .h_formgroup-inline .h_field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.hugreen_searchwrap .flex .h_formgroup-inline .h_field label.p-sr-only {
  color: #9FAABA;
  padding: 0 1rem 0 0;
  text-align: left;
}
.hugreen_searchwrap .flex .h_formgroup-inline .h_field button.in-searchbtn {
  background-color: #7E84A3;
  color: #ffffff !important;
}
.hugreen_searchwrap .flex .h_formgroup-inline .h_field .spantext {
  color: #9FAABA;
  padding: 0 1rem 0 0;
  text-align: left;
}
.hugreen_searchwrap .flex:last-child button {
  background-color: #00485D;
  color: #fff;
}

.hugreen_aggridbtn_hwrap {
  display: flex;
  width: 100%;
  height: 28px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.hugreen_aggridbtn_hwrap .totalNumText {
  font-weight: 600;
}
.hugreen_aggridbtn_hwrap .totalNumText span {
  color: #00485D;
}

.hugreen_aggrid_hwrap {
  flex-wrap: wrap;
  background-color: #aeaeae;
  width: 100%;
  height: 100%;
}

.hugreen_wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

@media (max-width: 991px) {
  .layout-main-container {
    padding: 5.286rem 1rem 1rem 1rem;
  }
  .hugreen_searchwrap .flex .h_formgroup-inline .h_field {
    justify-content: left;
  }
}
@media (max-width: 450px) {
  .search-btn-wrap {
    width: 100% !important;
    margin-top: 1rem;
  }
  .search-btn {
    width: 100% !important;
    background-color: #00485D !important;
    color: #fff !important;
  }
}
.layout-footer {
  transition: margin-left 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  border-top: 1px solid var(--surface-border);
}

@media (min-width: 992px) {
  .layout-wrapper.layout-overlay .layout-main-container {
    margin-left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .layout-wrapper.layout-overlay .layout-sidebar {
    transform: translateX(-100%);
    left: 0;
    top: 0;
    height: 100vh;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .layout-wrapper.layout-overlay.layout-overlay-sidebar-active .layout-sidebar {
    transform: translateX(0);
  }
  .layout-wrapper.layout-static .layout-main-container {
    margin-left: 18.5714rem;
  }
  .layout-wrapper.layout-static.layout-static-sidebar-inactive .layout-sidebar {
    transform: translateX(-100%);
    left: 0;
  }
  .layout-wrapper.layout-static.layout-static-sidebar-inactive .layout-main-container {
    margin-left: 0;
    padding-left: 2rem;
  }
  .layout-wrapper .layout-mask {
    display: none;
  }
}
/* 테이블 이하 사이즈 모드 */
@media (max-width: 991px) {
  .layout-wrapper .layout-main-container {
    margin-left: 0;
  }
  .layout-wrapper .layout-sidebar {
    transform: translateX(-100%);
    z-index: 99999;
    left: 0;
    top: 0;
    height: 100vh;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .layout-wrapper .layout-mask {
    z-index: 998;
    background-color: #333;
    opacity: 0.5;
  }
  .layout-wrapper .layout-mask.layout-mask-enter-from, .layout-wrapper .layout-mask.layout-mask-leave-to {
    background-color: transparent;
  }
  .layout-wrapper.layout-mobile-sidebar-active .layout-sidebar {
    transform: translateX(0);
  }
  .layout-wrapper.layout-mobile-sidebar-active .layout-mask {
    display: block;
  }
  .body-overflow-hidden {
    overflow: hidden;
  }
}
.card {
  background-color: transparent !important;
  padding: 0rem;
  border: 0px solid transparent !important;
  /*

  background-color: transparent !important ;
  border-color :transparent !important;

  */
}
.card.card-w-title {
  padding-bottom: 2rem !important;
  color: blue !important;
}

h1, h3, h4, h5, h6 {
  margin: 1.5rem 0 1rem 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
h1:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.7143rem !important;
  font-weight: 400 !important;
  margin-bottom: 0rem !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

mark {
  background: #FFF8E1;
  padding: 0.25rem 0.4rem;
  border-radius: 12px;
  font-family: monospace;
}

blockquote {
  margin: 1rem 0;
  padding: 0 2rem;
  border-left: 4px solid #90A4AE;
}

hr {
  border-top: solid var(--surface-border);
  border-width: 1px 0 0 0;
  margin: 1rem 0;
}

p {
  margin: 0 0 1rem 0;
  line-height: 1.5;
}
p:last-child {
  margin-bottom: 0;
}

/* 휴그린 건자재시스템 폰트 재정의*/
:root {
  --font-family-base: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans KR", sans-serif;
  --hugreen: #00485D;
}

.hugreen {
  font-family: var(--font-family-base) !important;
  -webkit-font-smoothing: antialiased;
}

/* breadcrumb 재정의 : 수정 불가 */
.p-breadcrumb {
  background: transparent !important;
  border: none !important;
  border-radius: 0px !important;
  padding: 0rem !important;
  align-items: center;
}
.p-breadcrumb ol {
  margin-bottom: 1px !important;
}

.p-breadcrumb .p-breadcrumb-list li .p-menuitem-link .p-menuitem-text {
  color: #aaa !important;
  font-size: 12px !important;
}

.p-breadcrumb_now {
  color: #7d7d7d !important;
  font-size: 12px !important;
  font-weight: 800 !important;
}

.p-icon {
  width: 10px !important;
  height: 10px !important;
  color: #aaa !important;
}

.pi-home:before {
  color: #aaa !important;
}

/* 업무영역 공통 타이틀*/
.title-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem; /* Tailwind gap-2 */
  margin-bottom: 1rem;
}

/* md (min-width: 768px) 이상일 때 적용 */
@media (min-width: 768px) {
  .title-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
/* topbar 햄버거 아이콘 가운데 정렬 재정의 : 수정 불가 */
.p-link {
  text-align: center !important;
}

/* 공통 : 휴그린 그리드 영역에 대한 재정의*/
.hugreen_grid {
  display: flex !important;
}

.ag-root-wrapper {
  border-radius: 0px !important;
  border: 0px solid var(--ag-wrapper-border) !important;
}

/* 일반 헤더 가운데 정렬 */
.ag-center-aligned-header .ag-header-cell-label {
  justify-content: center;
  text-align: center;
}

/* 헤더 그룹 하위 컬럼 가운데 정렬 */
.h-group-center .ag-header-cell-comp-wrapper {
  justify-content: center !important;
}

/* 헤더 그룹 가운데 정렬 */
.ag-header-cell-comp-wrapper {
  justify-content: center !important;
}

/* 필수 입력 * 표시 */
.required-field .ag-header-cell-text::before {
  content: "*";
  color: #ef4444;
  font-weight: bold;
  margin-right: 4px;
}

/* 필수 입력 * 표시  헤더 가운데 정렬*/
.required-field .ag-header-cell-label {
  justify-content: center !important;
}

/* 필터 목록 높이 조정 */
:where(.ag-filter-menu) .ag-set-filter-list {
  min-height: 400px;
}

/* pinnedBottomRowData # scroll */
/* .ag-horizontal-left-spacer {
  overflow: auto;
} 

/* pinnedBottomRowData 오른쪽 끝 scroll */
/* .ag-floating-bottom {
  overflow: auto !important;
} */
/* 그리드 상세보기 정의 */
/* 그리드 상세보기 정의 */
.dtv-info-grid {
  width: 100%;
  font-size: 1rem;
  border-top: 1px solid #E2E8F0;
  margin-bottom: 1rem;
  /* ---------------- 모바일: 한 쌍씩 줄바꿈 ---------------- */
}
.dtv-info-grid .row {
  display: grid;
  grid-template-columns: 15% 35% 15% 35%;
  border-bottom: 1px solid #E2E8F0;
}
.dtv-info-grid .row > div {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  border-right: 1px solid #E2E8F0;
}
.dtv-info-grid .row > div:last-child {
  border-right: none;
}
.dtv-info-grid .row .th {
  background: #F8FAFC;
  font-weight: 600;
  color: #8A929F;
}
.dtv-info-grid .row .td {
  background: #fff;
  font-weight: 300;
  color: #919AA8;
}
@media (max-width: 768px) {
  .dtv-info-grid .row {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border-bottom: 0px solid #E2E8F0;
  }
  .dtv-info-grid .row > .th,
  .dtv-info-grid .row > .td {
    flex: 1 1 50%;
    border-right: none;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #E2E8F0;
  }
  .dtv-info-grid .row > .th:nth-child(odd) {
    background: #F8FAFC;
    font-weight: 600;
    justify-content: flex-start;
  }
  .dtv-info-grid .row > .td:nth-child(even) {
    background: #fff;
    justify-content: flex-start;
  }
}

.dtv-info-grid--2col .row {
  grid-template-columns: 15% 85%;
}

.dtv-info-grid--4col .row {
  grid-template-columns: 15% 35% 15% 35%;
}

.dtv-info-grid--6col .row {
  grid-template-columns: 12% 21% 12% 21% 12% 22%;
}

.grid-view {
  width: 100%;
  font-size: 1rem;
}
.grid-view .row {
  display: grid;
  grid-template-columns: 30% 70%;
}
.grid-view .row > div {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
}
.grid-view .row > div:last-child {
  border-right: none;
}
.grid-view .row .th {
  font-weight: 600;
  color: #8A929F;
  padding-left: 1rem;
  position: relative;
}
.grid-view .row .th::before {
  content: "";
  position: absolute;
  left: 0.5rem;
  top: 50%;
  width: 3px;
  height: 3px;
  background-color: #8A929F;
  border-radius: 50%;
  transform: translateY(-50%);
}
.grid-view .row .td {
  background: #fff;
  font-weight: 300;
  color: #919AA8;
}

/* 전체적용 - 마우스클릭시 아웃라인 제거 */
.p-button:focus,
.p-inputtext:focus,
.p-dropdown:focus,
.p-calendar:focus,
.p-inputnumber:focus,
.p-multiselect:focus,
.p-checkbox:focus,
.p-radio-button:focus, a:active {
  outline: none; /* 기본 outline 제거 */
  box-shadow: none; /* PrimeReact focus shadow 제거 */
}

a:focus,
a:active {
  outline: none;
  box-shadow: none; /* 브라우저 기본 포커스 그림자 제거 */
}

ol, ul {
  padding-left: 0rem !important;
}

.row {
  --bs-gutter-x: 0rem !important;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 휴그린 primreact 기본 컴퍼넌트 재정의 */
.p-button {
  height: 2.2857rem !important;
  padding: 0.75rem 1rem !important;
  border-radius: 4px !important;
}

/* 마우스 클릭 시(active) */
.p-button:active {
  transform: scale(0.98) !important;
}

.p-button-label {
  font-weight: 400 !important;
}

.p-dropdown .p-dropdown-label {
  line-height: 32px;
}

.btn-32 {
  border: 1px solid #ddd !important;
}

.btn-28-master {
  height: 2rem !important;
  color: #fff;
  border: 1px solid #267C95;
  background-color: #267C95;
}

.btn-28-sec {
  height: 2rem !important;
  background-color: #fff !important;
  border: 1px solid #bababa !important;
}

.btn-28-intable {
  height: 2rem !important;
  background-color: #f6f6f6 !important;
  border: 1px solid #ddd !important;
}

.p-inputtext {
  height: 2.2857rem !important;
  padding: 0rem 1rem !important;
}

.p-radiobutton .p-radiobutton-box, .p-checkbox .p-checkbox-box {
  width: 16px !important;
  height: 16px !important;
}

.p-radiobutton, .p-checkbox {
  width: 16px !important;
  height: 16px !important;
}

.p-checkbox .p-checkbox-input {
  border: 0px solid #d1d5db !important;
  border-radius: 2px !important;
}

.p-dialog {
  border: 1px solid #D5D5D5 !important;
  border-radius: 8px !important;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12) !important;
}

.p-dialog .p-dialog-header .p-dialog-title::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 3px solid #333;
  border-radius: 50%;
  box-sizing: border-box;
  margin-right: 8px;
  vertical-align: middle;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
  scale: 1.6 !important;
}

.p-dialog .p-dialog-header {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
}

.p-overlaypanel {
  --overlayArrowLeft: -9999px !important;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12) !important;
  border: 1px solid #D5D5D5 !important;
}

.user-dialog {
  width: 30vw;
  max-width: 800px;
  min-width: 500px;
}
@media (max-width: 768px) {
  .user-dialog {
    width: 90vw !important;
    max-width: none;
    min-width: auto;
  }
}
.user-dialog .p-dialog-content {
  padding: 1.2rem;
}

.p-splitter {
  border: 0px solid #e5e7eb !important;
  border-radius: 0px !important;
}

.p-splitter-horizontal > .p-splitter-gutter {
  margin: 0 1rem !important;
}

.p-splitter-vertical > .p-splitter-gutter {
  margin: 1rem 0 !important;
}

.p-splitter .p-splitter-gutter .p-splitter-gutter-handle {
  background: #C2CAD7;
}

.p-splitter .p-splitter-gutter {
  background: #EFF1F5;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ag그리드 스타일 재정의 */
.ag-header {
  border-top: 1px solid #E2E8F0 !important;
  border-bottom: 1px solid #E2E8F0 !important;
  background-color: #F8FAFC !important;
}

.ag-body {
  border-bottom: 1px solid #E2E8F0 !important;
}

.ag-cell, .ag-full-width-row .ag-cell-wrapper.ag-row-group {
  line-height: 40px !important;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 기본 스크롤바 전체 영역 - 변경금지 */
::-webkit-scrollbar {
  width: 6px; /* 세로 스크롤바 두께 */
  height: 6px; /* 가로 스크롤바 두께 */
}

/* 스크롤바 트랙 (배경) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* 스크롤 트랙 배경색 */
  border-radius: 10px;
}

/* 스크롤바 손잡이 (thumb) */
::-webkit-scrollbar-thumb {
  background: #c1c1c1; /* 기본 색상 */
  border-radius: 10px;
}

/* 손잡이에 hover 시 색상 변경 */
::-webkit-scrollbar-thumb:hover {
  background: #888;
  cursor: pointer;
}

/* 스크롤바 모서리 (가로/세로 교차부분) */
::-webkit-scrollbar-corner {
  background: transparent;
}

/* 공통F 재정의 : 수정불가*/
.card {
  height: calc(100vh - 19.6rem) !important;
}

@media (max-width: 991px) {
  .card {
    height: calc(100vh - 7.3rem) !important;
  }
}
/* 공통 : sidebar 재정의 */
.p-sidebar-visible {
  margin-top: 56px !important;
  height: calc(100% - 56px) !important;
}

.hgrid {
  display: flex;
  display: block;
  flex-wrap: wrap;
  margin-top: 0rem;
}

/* 가이드용  - 추후 삭제 */
.guidetitle {
  font-weight: 600;
  display: flex !important;
  font-size: 20px;
  color: green;
  margin-bottom: 1rem;
  margin-top: 4rem;
}/*# sourceMappingURL=layout.css.map */