@import "./_variables";
@import "./sass/_layout";
@import "./_overrides";

/* 전체적용 - 마우스클릭시 아웃라인 제거 */

.p-button:focus,
.p-inputtext:focus,
.p-dropdown:focus,
.p-calendar:focus,
.p-inputnumber:focus,
.p-multiselect:focus,
.p-checkbox:focus,
.p-radio-button:focus, a:active {
  outline: none;        /* 기본 outline 제거 */
  box-shadow: none;     /* PrimeReact focus shadow 제거 */
}

a:focus,
a:active {
  outline: none;
  box-shadow: none; /* 브라우저 기본 포커스 그림자 제거 */
}


ol, ul {padding-left: 0rem !important;}
.row {--bs-gutter-x : 0rem !important}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 휴그린 primreact 기본 컴퍼넌트 재정의 */
.p-button {
    height: 2.2857rem !important;
    padding: 0.75rem 1rem !important;
    border-radius: 4px !important;
    //background-color: $color-primary-button;
}
/* 마우스 클릭 시(active) */
.p-button:active {
  transform: scale(0.98) !important; 
}


.p-button-label{font-weight: 400 !important;}
.p-dropdown .p-dropdown-label {line-height: 32px;}



.btn-32 { border: 1px solid #bababa !important;}
.btn-32-intable {    
    background-color: #f6f6f6 !important;  
    border: 1px solid #ddd !important;
}
.btn-28-master {    
    height: 2rem !important;
    color:#fff;
    border:1px solid $color-primary-button;
    background-color: $color-primary-button;

    white-space: nowrap; /* 한 줄 유지 */
    overflow: hidden;    /* 넘치는 부분 숨김 */
    text-overflow: ellipsis; /* ... 처리 */
    text-align: center;
    padding: 0 0.5rem;
}
.btn-28-sec {    
    height: 2rem !important;
    background-color: #fff !important;
    border:1px solid #bababa !important;
    color:#888 !important;    
    white-space: nowrap; 
    overflow: hidden;    
    text-overflow: ellipsis; 
    text-align: center;
    padding: 0 0.5rem;
}
.btn-28-intable {    
    height: 2rem !important;
    background-color: #f6f6f6 !important;  
    border: 1px solid #ddd !important;
     white-space: nowrap; 
    overflow: hidden;    
    text-overflow: ellipsis; 
    text-align: center;
    padding: 0 0.5rem;
}

.p-inputtext{
    height: 2.2857rem !important;
    padding: 0rem 1rem !important;
}
.p-inputtextarea{
    border: 1px solid #ddd !important;
    padding: 1rem !important;
    border-radius: 6px !important;
    background-color: #fff !important;
}

.ql-toolbar.ql-snow{
  padding: 4px !important;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.ql-container.ql-snow {
    border: 1px solid #ccc;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.ql-editor{
  height: 10rem !important;
}

.p-datepicker-trigger{
  position: absolute;
  right:0;
  background-color: transparent !important;
  border:0px solid #ddd !important;
  width: 32px !important;
  padding: 0px !important;
  .p-icon{
    width:14px !important;
    height:14px !important;
  }
}

.p-fileupload-choose, .p-fileupload-buttonbar{
  .p-icon{
    width:14px !important;
    height:14px !important;
    color:#fff !important;
  }
}
.p-radiobutton .p-radiobutton-box, .p-checkbox .p-checkbox-box  {width: 16px !important;height: 16px !important;}
.p-radiobutton, .p-checkbox {width: 16px !important; height: 16px !important;}
.p-checkbox .p-checkbox-input {
    border: 0px solid #d1d5db !important;
    border-radius: 2px !important;
}

.p-dialog {
    border:1px solid #D5D5D5 !important;
    border-radius: 8px !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12) !important;
}

.p-dialog .p-dialog-header .p-dialog-title::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 3px solid #333;
  border-radius: 50%;
  box-sizing: border-box;
  margin-right: 8px;
  vertical-align: middle;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {scale: 1.6 !important;}
.p-dialog .p-dialog-header {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 2rem 1.5rem .5rem 1.5rem;}

.p-overlaypanel { --overlayArrowLeft: -9999px !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12) !important; 
    border:1px solid #D5D5D5 !important;}

.user-dialog {
  width: 30vw;
  max-width: 800px;
  min-width: 500px;

  @media (max-width: 768px) {
    width: 90vw !important;
    max-width: none;
    min-width: auto;
  }

  .p-dialog-content {
    padding: 1.2rem;
  }  
}

//아코디언 재정의
.p-accordion .p-accordion-content {
    padding: 0rem !important; 
    border: 0px solid #e5e7eb !important; 
    background: transparent !important; 
    color: #9FAABA; 
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
     border-bottom-right-radius: 0px !important; 
     border-bottom-left-radius: 0px !important; 
}
.p-accordion .p-accordion-header .p-accordion-header-link {
    padding: .5rem !important;
    border: 0px solid #e5e7eb !important;
    color: #9FAABA;
    align-items: center !important;
    justify-content: center !important;
    background: #f9fafb;
    font-weight: 400 !important;
    transition: box-shadow 0.2s;
    i {
          font-size: 10px !important;
          color: #888 !important;
          margin-left: 6px;
      }
}
.custom-accordion .p-accordion-header .p-accordion-toggle-icon {
  display: none !important;
}





// splitter
.p-splitter {border: 0px solid #e5e7eb !important; border-radius: 0px !important;}
.p-splitter-horizontal > .p-splitter-gutter {margin: 0 1rem !important;}
.p-splitter-vertical > .p-splitter-gutter {margin: 1rem 0 !important; }
.p-splitter .p-splitter-gutter .p-splitter-gutter-handle { background: #C2CAD7; }
.p-splitter .p-splitter-gutter { background: #EFF1F5;}

@media (max-width: 768px) {
  .p-splitter.p-splitter-vertical .p-splitter-panel {
    margin-bottom: 3rem;
  }
  .p-splitter.p-splitter-vertical .p-splitter-panel:last-child {
    margin-bottom: 4rem;
  }
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ag그리드 스타일 재정의 */
.ag-header{
    border-top: 1px solid #E2E8F0 !important;
    border-bottom: 1px solid #E2E8F0 !important;
    background-color: #F8FAFC !important;
}
.ag-body{    
    border-bottom: 1px solid #E2E8F0 !important;
}

.ag-cell, .ag-full-width-row .ag-cell-wrapper.ag-row-group{line-height: 40px !important;}






/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 기본 스크롤바 전체 영역 - 변경금지 */
::-webkit-scrollbar {
  width: 6px;         /* 세로 스크롤바 두께 */
  height: 6px;        /* 가로 스크롤바 두께 */
}

/* 스크롤바 트랙 (배경) */
::-webkit-scrollbar-track {
  background: #f1f1f1;  /* 스크롤 트랙 배경색 */
  border-radius: 10px;
}

/* 스크롤바 손잡이 (thumb) */
::-webkit-scrollbar-thumb {
  background: #c1c1c1;  /* 기본 색상 */
  border-radius: 10px;
}

/* 손잡이에 hover 시 색상 변경 */
::-webkit-scrollbar-thumb:hover {
  background: #888;
  cursor: pointer;
}

/* 스크롤바 모서리 (가로/세로 교차부분) */
::-webkit-scrollbar-corner {
  background: transparent;
}

/* 공통 재정의 : 수정불가*/
.card {
  //height: calc(100vh - 17.6rem) !important;
  background-color: transparent !important;
}

.height-01{
  height: calc(100vh - 17.6rem) !important;
}

.height-02{
  height: calc(100vh - 20rem) !important;
}



@media (max-width: 991px) {
    .card {
      height: calc(100vh - 7.3rem) !important;
    }

    .p-breadcrumb {display: none !important;}
    .layout-BreadCrumb-button{display: none !important;}
 }

 /* 공통 : sidebar 재정의 */
.p-sidebar-visible {
  margin-top: 56px !important; 
  height: calc(100% - 56px) !important; 
}


.hgrid{display: flex;display: block; flex-wrap: wrap;margin-top:0rem; }





/* 달력 재정의 */
.p-datepicker {border:  1px solid #D5D5D5 !important;}
.p-datepicker .p-datepicker-header {padding: 0.25rem !important;}
.p-datepicker table { margin:0 0 !important;}
.p-datepicker table td {padding: 0.25rem !important;}
.p-calendar-w-btn-right .p-inputtext {
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}


/* tag 재정의 */
.p-tag{
 height: 18px !important;
 border-radius: 4px !important;
}
.p-tag.p-tag-success{
 background-color: #DFE6F9 !important; //본사
 color: #8390b1 !important;
}
.p-tag.p-tag-info{
 background-color: #cfeced !important; //협력사
 color: #709b9d !important;
}
.p-tag.p-tag-contrast{
 background-color: #d9ebef !important; //대리점
 color: #6B8DE0 !important;
}
.p-tag.p-tag-secondary{
 background-color: #debbdd !important; //관리자
 color: #aa7ca9 !important;
}



/* 메인 데시보드에서만 사이드바 숨김처리 */
.dashboard-no-menu ~ .layout-sidebar {
    display: none !important;
}

/* 가이드용  - 추후 삭제 */
.guidetitle{font-weight: 600; display: flex !important; font-size:20px; color:green;margin-bottom:1rem;margin-top:4rem;}
.table-basic {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  color: #444;

  thead {
    background-color: #f9fafb; // tailwind bg-gray-50
    border-top: 1px solid #e5e7eb; // divide-gray-200
    border-bottom: 1px solid #e5e7eb; // divide-gray-200

    th {
      padding: 8px 16px;
      text-align: left;
      font-size: 13px;
      font-weight: 600;
      //text-transform: uppercase;
      letter-spacing: 0.5px;
      color: #4b5563; // text-gray-600

      &.text-right {
        text-align: right;
      }
    }
  }

  tbody {
    background: #ffffff;

    tr {
      border-bottom: 1px solid #f3f4f6; // divide-gray-100
      transition: background 0.2s;

      &:hover {
        background-color: #f9fafb; // hover:bg-gray-50;
      }
    }

    td {
      padding: 6px 16px;
      font-size: 14px;
      color: #374151; // text-gray-700
      font-weight: 400;

      &.text-right {
        text-align: right;
        color : #8b8b8b;
      }

      &.text-green {
        color: #059669; // text-green-600
        font-weight: 200;
      }
    }
  }
}




@media (max-width: 768px) {

  /* thead 완전 숨김 */
  .table-basic thead {
    display: none !important;
  }

  /* table을 block 형태로 전환해야 td 스타일이 먹음 */
  .table-basic,
  .table-basic tbody,
  .table-basic tr {
    display: block !important;
    width: 100% !important;
  }

  /* tr 사이 간격 */
  .table-basic tbody tr {
    margin-bottom: 12px !important;
    background: #fff;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 0 4px rgba(0,0,0,0.05);
    border: 1px solid #D5D5D5;
  }

  /* td가 block이라 왼쪽으로 쏠리는 문제 해결 → flex 양쪽 정렬 */
  .table-basic td {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 2px 6px !important;
    font-size: 1.25rem !important;
    width: 100%;
    color: #333;
    border: none !important;
  }

  
  .table-basic td:nth-child(4),
  .table-basic td:nth-child(5) {
    display: none !important;
  }

  /* 오른쪽 정렬 td도 동일하게 */
  .table-basic td.text-right {
    justify-content: space-between !important;
    font-size: 1rem !important;
  }


}